.category {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
}

.category__name {
    border-radius: 20px;
    padding: 20px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .5s ease;
    background-color: rgba(216, 216, 216, 0.193);

}

.category__name:hover {
    border: 1px solid rgba(128, 128, 128, 0.225);
}