header {
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 40px;
    color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #444444;
    background: #FFFFFF;
}

header .nav {
    float: right;
}

header .nav li {
    display: inline-block;
    cursor: pointer;
    margin-left: 25px;
    transition: all 0.5s ease-in-out 0.3s;
}

header .nav li:hover {
    transform: scale(1.5);
}


header .presentaion {
    margin: 50px 0;
    background: url('../../img/bgc.jpeg') no-repeat center;
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 0 0;
}

header .presentaion::after {
    content: 'Cloth';
    position: absolute;
    top: 50px;
    left: 30px;
    width: auto;
    font-size: 54px;
    font-weight: 600;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
    color: #fff;
}


header .presentaion::before {
    margin-top: 15px;
    content: 'for you';
    position: absolute;
    top: 140px;
    left: 30px;
    width: 90px;
    font-size: 18px;
    font-weight: 300;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    color: #fff;
}

.nav__cart {
    float: right;
    font-size: 18px;
    cursor: pointer;
    transition: all .5s ease
}

.nav__cart:hover,
.active {
    color: red;
    transform: scale(1.4);
}


.shop__cart {
    position: absolute;
    top: 105px;
    right: 0;
    width: 450px;
    min-height: 100px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}